@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Poppins:wght@300;600;900&display=swap');
*{
    margin:0;
    padding:0;
    font-family: 'DM Sans', sans-serif;

}
.logoetc{
    width:100%;
    height:300px;
    display: flex;
    flex-direction: column;
    width:100%;

}
.logo{
    width:15%;
    margin:10px auto;
    /* border:2px solid red */
}
.heading{
    width:50%;
    margin :10px auto;
    /* border:2px solid blue */
}
.heading>h1{
    font-size: 2.5rem;
    padding: 10px;
    text-align:center;
    color: rgba(0, 151, 254, 1);

}
#img{
    width:100%
}

.graphics{

    width:100%;
    height:600px;
    background-image: linear-gradient( to right ,#1B45B4 ,
    #1C2792 );
    transform: skewy(-5deg);
    z-index: -1;
}
.firstleft{
    background-color: #0097FE;
    position: absolute;
    top:10%;
    right:0;
    height: 55px;
    width:150px;
    transform: skewY(-5deg);
    transform-origin: bottom right;
    z-index: -1;
}
.first1left{
   border:2px solid rgba(255, 255, 255, 0.344);
    position: absolute;
    top:22%;
    right:150px;
    height: 95px;
    width:50%;
    transform: skewY(-5deg);
    transform-origin: bottom right;
    z-index: -1;
}

.secondleft{
    background-color: #0097FE;
    position: absolute;
    bottom:10%;
    height: 40px;
    width:150px;
    transform: skewY(-5deg);
    transform-origin: bottom right;
    margin-bottom: 0px;
    z-index: -1;
}



.content{
  
  
    transform: skewY(5deg);
    display: flex;

    width:80%;
    margin:0px auto;
    margin-top: 50px;
    color:white

}
.left{
    width:30%;
    height: 300px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 10px 50px;
    
   
    margin:auto;

}
.left h2{
    margin-bottom: 10px;
    font-size: 30px;
    
}
.left p{
    margin-bottom: 10px;

}
 .btn{
   margin-top: 30px;
   width:40%;
   padding:10px 15px;
   border-radius: 11px;
   border:none;
   outline: none;
   color:white;
   background-image:linear-gradient(to right,#6A36FF ,
   #AC5FE6 );

}
.right{
    width:70%;
  
    display:flex;
    align-items: center;
    justify-content: center;

}



.box1{
    border:2px dotted yellow;
    width:260px;
    height:200px;
    margin:15px ;
    background-color: white;
    border-radius: 10px;
    position: relative;
    padding:10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}
.fb{
    color:#006FBA;
    text-align: center;
    font-size: 24px;
    font-weight: 700;

}
.twitter{
    color:#006FBA;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}
.backblue{
    border-top:1px solid rgba(56, 161, 236, 0.308);
    border-left:1px solid rgba(68, 217, 243, 0.308);
    border-bottom:1px solid rgba(54, 239, 236, 0.308);
    position: absolute;
    top:20%;
    right:0;
    height: 40px;
    width:30%;
    transform: skewY(-5deg);
  
    margin-bottom: 0px;

    

}
.paraw{
    color: #7597eb;
    text-align: center;
}

/* responsive */
@media screen and (max-width:1092px){
    .content{
        width:90%
    }
    .btn{
        width:70%;
    }
    .logo{
        width:30%;
    }
}
@media screen and (max-width:957px){
    .content{
        width:95%;
    }
}

@media screen and (max-width:884px){
    .content{
        flex-direction: column;

    }
    .left{
        width:80%;
        margin:10px auto;
    }
    .right{
        width:100%;
    }
    .heading {
        width:80%;
    }
}
@media screen and (max-width:624px){
    .right{
        flex-direction: column;
    }
    .st1_box{
        flex-direction: row;
    }
    .logo{
        width:40%;
    }
    .heading>h1{
        font-size: 1.9rem;
    }
}
@media screen and (max-width:459px){
    .heading{
        width:90%;
        margin:0px auto;
    }
    .heading>h1{
       
        font-size: 1.8rem;
    }
    .logoetc{
        height:200px
    }
    .logo{
        width:40%;
        margin:5px auto;
    }
}
@media screen and (max-width:319px){
    .heading{
    }
    .heading>h1{
       
        font-size: 1.5rem;
    }
    .left{
        width:100%;
        padding:0px;
    }
}





    
